html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.neo{

   background: url(./backgorund.png);
   height: 200px;
   width: 400px;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 1px 20px;
   margin:auto;
}

a{
    text-decoration: none;
    color: black;
}
body{
    background-color: black;
}
#yout{
    list-style-image: url('./Youtube.png');
}
#inst{
    list-style-image: url('./Insta.png');
}
#twit{
    list-style-image: url('./Twitter.png');
}